{{!< default}}
<main>
  <article class="{{post_class}}">
  <!-- *Update with your image here. Keep dimensions around 200x200px for optimal performance. You don't have to worry about cropping it into a circle, I've taken care of that for you.* -->
  <img id="avatar" width="220px" src="{{@blog.cover}}" alt="me and my wife">
    {{#post}}
    <header>
      {{#if tags}}<h5>Posted in {{tags}}</h5>{{/if}}
      <h1>{{{title}}}</h1>
      <h5>
        
      </h5>
    </header>
    <section class="posts">
      {{content}}
      
      <!-- www.123contactform.com script begins here -->
        
<script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-1129234.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

      
    </section>
    {{/post}}
    <!-- Add disqus comments here -->
    </article>
</main>