<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Now you can access key Google Analytics metrics without unlocking your phone and opening an App: get it all from your Today screen! Now available for iOS." />
    <meta name="keywords" content="Google Analytics, iOS, Widget, Today" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta itemprop="name" content="GA TODAY – Google Analytics on iOS">
	<meta itemprop="description" content="GA TODAY is the fastest and easiest way to keep up with your Google Analytics. Now available on iOS.">
	<meta itemprop="image" content="http://i.imgur.com/fcUwC3n.jpg">
    
    <title>The first and only Google Analytics widget for iOS | GA.TODAY</title>
    
    <meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@ry_brink">
	<meta name="twitter:creator" content="@ry_brink">
	<meta name="twitter:title" content="GA TODAY – Google Analytics on iOS" />
	<meta name="twitter:description" content="GA TODAY is the fastest and easiest way to keep up with your Google Analytics. Now available on iOS." />
	<meta name="twitter:image" content="http://i.imgur.com/4lql7AF.jpg" />
	<meta name="twitter:url" content="http://ryanbrink.com/ga-today/" />
	
	<meta property="og:title" content="GA TODAY – Google Analytics on iOS" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://ryanbrink.com/ga-today/" />
	<meta property="og:image" content="http://i.imgur.com/4lql7AF.jpg" />
	<meta property="og:description" content="GA TODAY is the fastest and easiest way to keep up with your Google Analytics. Now available on iOS." />
	<meta property="og:site_name" content="GA TODAY" />
	<meta property="fb:admins" content="515031220" />
		
	{{#post}}
	
    {{/post}}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{asset "css/form.css"}}" rel="stylesheet">
    <link href="{{asset "css/main.css"}}" rel="stylesheet">    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    <link href="{{asset "css/prettify.css"}}" rel="stylesheet"></script>    
    
    {{ghost_head}}    
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script>
	/**
	* Function that tracks a click on an outbound link in Google Analytics.
	* This function takes a valid URL string as an argument, and uses that URL string
	* as the event label.
	*/
	var trackOutboundLink = function(url) {
	console.log("Tracking link " + url);
	   ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
	     function () {
	     document.location = url;
	     }
	   });
	}
	</script>
</head>