<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="description" content="{{meta_description}}" />
    <meta name="keywords" content="{{meta_keywords}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}} | Ryan Brink</title>
    {{#post}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{{title}}}">
    <meta name="twitter:description" content="{{excerpt}}">
    <meta name="twitter:creator" content="@YOUR_TWITTER_HANDLE">
    <meta name="twitter:image" content="{{@blog.logo}}">
    <meta name="twitter:url" content="{{url absolute='true'}}">
    <meta name="twitter:domain" content="{{@blog.url}}">
    {{/post}}
    <link href="{{asset "css/form.css"}}" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{asset "css/main.css"}}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    <link href="{{asset "css/prettify.css"}}" rel="stylesheet"></script>    
    
    {{ghost_head}}    
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>