<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ryan Brink">
    <meta name="description" content="Now you can access key Google Analytics metrics without unlocking your phone and opening an App: get it all from your Today screen! Coming soon for iOS." />
    <meta name="keywords" content="Google Analytics, iOS, Widget, Today" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The first and only Google Analytics widget for iOS | GA.TODAY</title>
    {{#post}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="The first and only Google Analytics widget for iOS | GA.TODAY">
    <meta name="twitter:description" content="{{excerpt}}">
    <meta name="twitter:creator" content="@YOUR_TWITTER_HANDLE">
    <meta name="twitter:url" content="{{url absolute='true'}}">
    <meta name="twitter:domain" content="{{@blog.url}}">
    {{/post}}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{asset "css/main.css"}}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    <link href="{{asset "css/prettify.css"}}" rel="stylesheet"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    
    {{ghost_head}}    
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>